.c-404 {
  &__illustration {
    margin-top: rem(-50px);
    max-width: rem(400px);
  }

  &__title {
    font-size: 5vw;
    font-family: var(--font-family-display);
    letter-spacing: -0.06em;
    font-weight: normal;
  }

  &__text {
    background: #fff;
    padding: 0.5em;
    border: 2px solid var(--color-text-800)
  }
}
