.c-floating-alerts {
  .c-alert {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 1em 2em;
    line-height: 1.4;
    background: var(--color-text-800);
    color: #fff;
    box-shadow: 0 10px 10px hsla(var(color-primary-h), 35%, 20%, 0.1);
    -moz-animation: o-floating-alert ease-in 5s forwards;
    -webkit-animation: o-floating-alert ease-in 5s forwards;
    -o-animation: o-floating-alert ease-in 5s forwards;
    animation: o-floating-alert ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: none;

    @mixin bp sm {
      width: auto;
      top: 38px;
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 3px;
    }

    &:last-of-type {
      display: block;
    }
  }
}

@keyframes o-floating-alert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

@-webkit-keyframes o-floating-alert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

@mixin bp sm {
  @keyframes o-floating-alert {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%) scale(1.2);
    }

    9% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }

    91% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%) scale(1.2);
    }
  }

  @-webkit-keyframes o-floating-alert {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%) scale(1.2);
    }

    9% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }

    91% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50%) scale(1.2);
    }
  }
}
