.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.75em;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease, transform 0ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  border: 1px solid transparent;
}

.c-button:hover {
  box-shadow: 0 0 0 3px hsl(var(--color-primary-h), 36%, 97%, 0.5),
    0 4px 10px hsla(6, 15%, 25%, 0.35);
}

.c-button:focus {
  box-shadow: 0 0 0 3px hsla(var(--color-primary-h), 12%, 88%, 1),
    0 4px 10px hsla(6, 15%, 25%, 0.25);
}

.c-button:active {
  transform: translateY(1px);
}

.c-button--inverse {
  color: var(--color-text-800);
  border-color: var(--color-text-800);

  &:hover {
    color: #fff;
    background-color: var(--color-text-800);
  }
}

.c-button--small {
  font-size: rem(14px);
  font-weight: 500;
  letter-spacing: 0.025em;
}

.c-button--medium {
  font-size: rem(17px);
}

.c-button--large {
  font-size: rem(19px);
}

.c-button--primary {
  background-color: var(--color-text-800);
  color: #fff;
}

.c-button--accent {
  background-color: hsl(206, 16%, 20%);
  color: #fff;

  &:hover {
    box-shadow: 0 0 0 3px hsl(206, 36%, 97%, 0.5),
      0 4px 10px hsla(206, 15%, 25%, 0.35);
  }

  &:focus {
    box-shadow: 0 0 0 3px hsla(206, 12%, 88%, 1),
      0 4px 10px hsla(206, 15%, 25%, 0.35);
  }
}

.c-button--submit-dark {
  background-color: #fff;
  color: var(--color-primary);

  &:hover {
    box-shadow: 0 0 0 3px hsla(var(--color-primary-h), 55%, 61%, 1);
    background: transparent;
    color: #fff;
    border-color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 3px hsl(var(--color-primary-h), 16%, 20%);
    background: transparent;
    border-color: #fff;
    color: #fff;
  }
}

.c-button--shadow {
  box-shadow: 0 4px 10px hsla(var(--color-primary-h), 15%, 25%, 0.25);
}

.c-button--100\% {
  width: 100%;
}

.c-button--disabled,
button:disabled {
  cursor: default;
  opacity: 0.5;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.c-button--icon {
  svg {
    width: rem(28px);
    height: rem(28px);
    margin-right: rem(6px);
    fill: currentColor;
  }
}
