@define-mixin center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin center-x {
  display: flex;
  justify-content: center;
}

@define-mixin center-cy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

