/* ==========================================================================
   #CONTAINER (GLOBAL)
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 * the outer container for components and it usually provides a fixed width.
 */

:root {
  --container-width-xs: rem(600px);
  --container-width-sm: rem(800px);
  --container-width-md: rem(1054px);
  --container-width-lg: rem(1200px);
  --container-padding: calc(var(--gap) * 1.5);
}

.o-container {
  width: calc(100% - var(--container-padding));
  @media (min-width: 36em) {
    width: calc(100% - var(--container-padding) * 2);
  }
  max-width: var(--container-width-lg);
  margin: 0 auto;

  &--narrow {
    max-width: var(--container-width-sm);
  }

  &--medium {
    max-width: var(--container-width-md);
  }

  .o-container {
    --container-padding: 0;
  }
}
