:root {
  --color-h: var(--color-primary-h);
}

.o-form {
  &__group {
    margin-bottom: 2rem;
    position: relative;
  }

  input:not([type="submit"]),
  textarea {
    padding: 1.2rem 1rem;
    color: hsl(var(--color-h), 15%, 25%);
    border: 1px solid currentColor;
    font-size: rem(17px);
    transition: all 250ms ease;
    position: relative;
    z-index: 1;
    background: #fff;

    &::-moz-placeholder {
      color: hsl(var(--color-h), 5%, 63%);
    }

    &::-webkit-input-placeholder {
      color: hsl(var(--color-h), 5%, 63%);
    }

    &::-ms-input-placeholder {
      color: hsl(var(--color-h), 5%, 63%);
    }

    &::placeholder {
      color: hsl(var(--color-h), 5%, 63%);
      transition: all 550ms ease;
    }

    &:focus {
      background-color: hsl(var(--color-h), 16%, 20%) !important;
      color: #fff;
      border-color: hsl(var(--color-h), 16%, 20%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px hsla(var(--color-h), 12%, 88%, 1);
    }

    &:hover {
      background-color: hsla(var(--color-h), 12%, 88%, 1);

      &::-moz-placeholder {
        color: hsl(var(--color-h), 13%, 58%);
      }

      &::-webkit-input-placeholder {
        color: hsl(var(--color-h), 13%, 58%);
      }

      &::-ms-input-placeholder {
        color: hsl(var(--color-h), 13%, 58%);
      }

      &::placeholder {
        color: hsl(var(--color-h), 13%, 58%);
        transition: all 550ms ease;
      }
    }
  }

  &__title {
    padding-block: 1.5rem !important;
    font-size: rem(20px) !important;
    letter-spacing: 0.01em;
    font-weight: 600;
  }

  &__textarea {
    &--tall {
      height: rem(160px);

      @mixin bp md {
        height: rem(320px);
      }
    }
  }

  label {
    color: hsl(var(--color-h), 15%, 35%);
    font-weight: 500;
  }

  &--accent {
    --color-h: var(--color-accent-h);
  }
}
