/* ============================================================================
   PAGE (GLOBAL)
   ========================================================================= */

/**
 * the first element after BODY.
 * the most outer container including header, main, footer,
 * which usually contains min-height: 100vh, max-width: 100vw and overflow: hidden.
 */

.o-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
