.p-footer {
  position: relative;
  z-index: 1;
  background: var(--color-primary);
  color: #fff;
  font-size: rem(17px);

  &:before {
    content: "";
    display: block;
    top: -11px;
    left: 0;
    position: absolute;
    height: 11px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='932' height='25' viewBox='0 0 932 25'%3E%3Clink xmlns='' type='text/css' rel='stylesheet' id='dark-mode-general-link'/%3E%3Clink xmlns='' type='text/css' rel='stylesheet' id='dark-mode-custom-link'/%3E%3Cstyle xmlns='' type='text/css' id='dark-mode-custom-style'/%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a63c30;fill-rule:evenodd%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Erough%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cpath class='cls-1' d='M932 25V4.76c-14.77-.24-33.53-1.44-43.93-1.15-5.4.14-7.74.26-10.07.27-3.07 0-6.14-.18-16.14-.76-17.62-1-18.9-.34-29.79.68s-32-.69-53.8-1.48S761 2.21 736 3.34s-34-1.83-44.2-1.94S654-.07 629.34.72s-25.94.34-49 0S557.92.38 541.91 0s-39.08 1.69-56.69.68-18.9-.53-43.22.72-32.67.79-64.38.33-18.89-.45-43.23.34-28.83.34-38.44.34-48-1.58-72.06.34-18.25.12-43.23.68-35.24-.79-50-.68-23.7.34-47.08 0-19 .92-52 1.82C9 5.19 2.15 4.89 0 4.91V25z' id='Layer_1-2' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 0 Image' width='800' height='600' fill='%23b3492b'%3E%3Cpath d='M632.153 240c-3.06-.952-5.8.869-7.6-1.577-1.885-2.558-3.466-5.162-3.419-8.636.151-10.945.185-21.9-.04-32.837-.052-2.559.911-4.456 1.9-6.552 2.688-5.678 5.554-11.244 9.644-16.068a17.255 17.255 0 016.958-5.21c1.516-.585 2.817 1.31 4.781-.49 1.565-1.433 3.462 2.617 5.816 2.454 1.434 3.615-1.542 5.285-3.485 7.531 2.485 1.138 5.1 1.047 7.429 2.443 2.281 1.365 4.074 2.608 3.536 5.359-.664 3.4 2.1 4.661 3.654 6.691-.683.907-2.25 1.5-1.74 2.894 4.157 11.377 1.131 19.172-2.509 28.5-1.012 2.593-2.5 5.672-2.647 7.895-.359 5.475-4.083 9.415-4.976 14.508-.661 3.765-3.11 6.052-7.427 5.827-.813-.042-1.5 1.825-3.653 1.4-.587-.626-2.454-1.719-2.414-2.736.136-3.371-.311-6.008-3.751-7.591-.447-.219-.057-2.253-.057-3.805zM450.493 513.579c3.743.947 8.423-1.886 11.464 2.544l-3.678 7.338c1.614 1.651 2.611.884 4.124.293 5.622-2.2 6.942-1.476 8.922 4.134.286.812.148 2.028 1.06 2.209 6.4 1.268 4.935 7.7 7.6 11.393-2.741 3.242 1.854 6.5.349 9.115-1.7 2.961-1.158 7.086-4.66 9.057-1.034.582-.5 1.621-.643 2.468-1.2 7.387-4.373 13.23-12.024 15.746-1.015.334-1.48 1.971-3.631 1.335l-3.372-6.9c-1.919-.609-5.321 1.137-4.808-3.457h-10.458c-.654-4.975.065-10.237-3.932-13.983a1.853 1.853 0 01-.1-1.722c2.37-4.269.814-9.316 2.6-13.531.905-2.133 1.552-3.7.262-5.656-3.112-4.729.03-8.387 2.473-11.746 2.295-3.158 5.484-5.669 8.452-8.637zM540.358 279.269c-1.311 2.953-4.057 2.194-6.929 2.847.593 3.821-1.318 7.933 1.743 11.584-2.872.1-2.872.1-4.389-1.036-2.05 1.2-2.732 3.4-4.24 5.556.47-6.64-2.228-11.427-6.965-14.587-2.148-.42-2.472 1.191-3.53 1.6-3.59-6.622-3.683-9.925-.828-27.309 1.481-9.012 6.137-16.436 12.718-23.927 1.981-.432 5.226 5.3 8.233-.169 2.911 5.167-2.439 8.016-2.734 13 2.9-1.31 5.72-2.362 8.66-1.326 1.549 1.335-.456 3.523 1.23 4.955 2.666 2.266 5.038 4.732 1.382 8.137 3.951 2.926-.975 5.484-.376 8.441.577 2.854.125 5.916.125 8.983-2.879-.569-3.413-3.966-6.515-3.423-2.661 3.483 2.025 4.05 2.415 6.674zM205.227 469.364c-1.155-2.191-4.126-.9-6.045-1.728v-4.084c-.223-.247-.5-.7-.612-.658-5.032 1.679-7.655-3.588-12.053-4.134-4.211-.522-6.626-3.695-7.449-7.893a3.254 3.254 0 011.911-3.725c-7.211-6.039-2.7-12.051-.36-18.178 2.993-7.855 9.153-8.788 16.119-8.4 1.4 3.917.616 7.169-2.035 9.6 5.479 3.578 7.109-1.763 10.574-2.757q1.7 3.231 3.031 5.779c-.044 2.016-2.991 2.726-1.566 4.981 2.461 2.939 3.315-1.8 5.877-1.026 3.446 3.1 3.041 7.835 2.953 12.112l3.515.918c-.46 2.278-3.644 2.933-3.548 5.38-.01 2.657 2.809.639 3.625 2.606-4.34 3.577-7.29 8.943-13.937 11.207zM417.362 342.024h7.486c1.534 1.535 1.134 5.645-.922 9.963 4.32 3.532 6-1.6 8.372-2.693 2.791-.132 2.951 2.286 4.183 2.579.79 2.66-2.41 3.223-1.381 5.973 1.92 1.134 6.046.066 6.877 3.335.6 2.341 1.161 5.4-1.782 7.485l3.317 1.158c-.235 2.593-3.727 4.537-1.647 7.9-3.929 5.239-10.591 7.354-15.706 11.525-.928.757-2.884 3.389-5.471 1.647-1.049-1.4 1.365-1.4 1.146-2.663-2.565-1.616-5.776.333-8.538-1.094-.858-2.031.484-5.011-2.778-6.267-3.868 1.858-7.762 2.6-11.166-2.733 4.457-2.916 10.451-3.911 11.445-10.588-3.709-.106-6.008 3.186-9.541 3.69l-2.786-2.512c-.255-.183.2-.419.543-1.073 2.063-3.928 8.5-3.4 8.961-8.869 4.073-1.609 3.765-6.153 4.5-8.993.857-3.289 2.587-5.144 4.888-7.77zM262.72 550.622c1.046-2.427 3.15-2.972 1.435-5.79-1.146-1.213-3.841.757-6.216-.546-.128-.63-.3-1.459-.523-2.576-.268-.441-.788-.652-1.108-.174-1 1.483-2.445 1.442-3.977 1.413-4.47-.085-5.429-1.373-5.8-5.937-.162-2.006 1.463-2.9 1.626-4.853l-4.891-.351c-1.448-6.759 2.5-12.709 3.768-18.95.645-3.162 5.524-4.695 9.45-4.664 1.431.652.982 2.045 1.186 2.6.663 1.287.891 1.044 1.558.474 2.025-1.733 4.465-2.161 6.094.226 1.673 2.452 4.045 2.08 6.271 2.471 1.269 1.308.32 2.906.653 4.312 1.117 1.55 2.779.6 4.45 1.1 3.434 2.309 1.791 7.354 4.676 10.25-9.606 15.218-11.908 17.91-18.652 20.995zM367.94 159.238c-.9-4.857-4.15-6.5-9.052-5.234-4.375-8.3-2.816-16.948-1.829-25.342.209-1.781 1.248-3.957.947-5.849-.593-3.73 1.66-6.727 2.257-10.132.461-2.632 4.449-3.224 6.927-4.6 3.322 2.939 3.322 2.939 4.235 7.181l1.413.091c4.664.164 2.721 3.266 4.7 4.147 1.124.5 2.886 1.634 2.441 3.414-.728 2.908 3.572 4.905 1.742 7.361-1.856 2.49-.769 5.36-1.847 7.472-2.761 5.411-3.633 11.309-5.183 17-1.017 3.718-2.947 4.759-6.751 4.491zM560.721 424.912c-1.335-1.152-2.253-2.488-4.432-2.666-5.543-.452-5.526-.668-6.852-6.788-4.059-1.355-7.865-.024-11.271 1.558-1.728-1.745-.53-3.354-1.246-4.869l3.633-1.252v-10.482l-6.076 1.934c-.98.075-1.254-2.01-2.662-2.442 2.03-5.294 6.269-8.552 9.954-12.266 4.492.987 9.368-4.032 13.407 1.252a35.413 35.413 0 00-.066 7.579c-.887.106-1.731.221-2.579.3-.591.056-1.186.067-1.78.1-1.48 1.36-.33 3.794-2.381 5.142 4.589-1.6 8.586-3.561 11.583-7.122 1.275 1.5 2.527 2.725 4.856 2.107-4 3.238 1.367 7.33-3.367 10.32 3.585.15 3.957-2.195 5.382-2.69a21.764 21.764 0 014.147-.649c1.627 3.366 3.876 6.286 2.1 10.646-2.318 2.015-7.849 1.563-8.752 7.286a16.88 16.88 0 008.905-5.189c2.584.475 2.343 1.739 2.264 2.923-4.625-.326-4.179 5.431-8.077 6.562-3.129.909-5.74 3.608-9.652 6.23a16.307 16.307 0 012.962-7.524zM476.859 151.048l-3.225 3.225c3.171 2.077-3.243 5.753 1.275 7.611-7 8.294-7.095 8.5-7.47 17.161h-8.509c-.7-.35-.041-1.837-.693-2.776-8.516-.992-10.333-2.971-10.612-11.516-.075-2.293.678-4.816-1.732-6.489 1.776-2.468.781-5.638 2.637-8.359 3.564-5.223 8.052-9.484 12.335-13.948 1.766-.859 3.376-.322 4.851-.16.8 3.4-3.823 5.5-.6 9.128l3.046-4.443c3.214 3.873 8.665 4.988 8.697 10.566zM613.881 24.982c-1.26 2.144-4.179-.368-5.472 2.057 2.576 1.34 5.32.383 8.3.769 1.1 3.806 3.317 7.3 4.776 11.285 3.091 8.453 1.063 15.736-2.057 23.337-1.241 3.023-3.082 4.17-6.629 3.429l-3.117-6.683c-2.023-.753-5.192.066-6.767-3.575.194-6.066.455-12.817-3.945-18.561l3.789-6.9-3.653-1.324c.857-2.943 1.9-5.753 4.526-8.173h7.729c1.071 1.257 2.963 2.121 2.52 4.339zM349.454 249.194c-1.263 2.017-3.217 1.3-4.792 1.414-4.365-3.912-1.563-10.12-4.826-14.353 5.419-10.6 5.419-10.6 14.661-14.87a5.182 5.182 0 013.61 3.451c.521 2.007-2.964 2.455-1.8 4.763 1.737 2 3.031.716 4.31-.681 5.258 2.063 3.957 8.863 8.531 11.64-.517 3.761.629 7.662-.591 11.48l-7.6 9.423-3.564.159c-1.062-1.839-3.264-7.743-2.937-8.382zM249.55 252.474c-1.822.767-.1 3.312-1.513 3.435-2.638.572-3.64-.838-4.374-2-1.538-2.425.412-5.708-.869-7.782-1.624-2.627-2.249-4.315-.3-7.048 1.617-2.269.723-5.352 2.069-8.231 3.229-6.908 3.05-7.46 10.559-7.4.215.214.6.42.615.645.061 1.206.029 2.417.029 3.871 2.441 1.411 6.178.351 7.536 4.538 1.021 3.149 4.3 5.367 3.555 9.492-.568 3.143.215 6.265-2.829 8.99a9.206 9.206 0 00-2.892 6.934c.085 2.13-1.713 3.44-4.164 3.726-2.267.265-3.515-1.082-4.4-2.507a51.1 51.1 0 01-3.022-6.663zM307.686 316.391h7.436c1.935 1.232.28 3.407 1.279 4.889 1.281 1.2 2.876.261 4.327.635 2.1 4.238 4.794 8.329 6.161 12.824 1.48 4.867-.732 9.678-2.348 14.256-3.7 1.523-5.422-1.321-7.512-3.355h-7.307c-1.243-3.491-2.977-6.385-7.421-5.451-2.076-2.447.765-6.289-2.569-8.176 1.648-2.29 3.2-4.572 3.611-7.518.401-2.883 1.895-5.333 4.343-8.104zM117.149 344.6c3.318-4.462 8.186-5.9 13.449-6.36 3.566 4.348-2.507 5.2-2.994 8 3.908 3.7 7.125-2.5 10.818-.158 2.176 2-.764 2.824-1.23 4.264 1.305 1.731 3.521-.066 4.833 1.032 1.5 3.785-1.008 8 2.147 11.638-2.976 2.689-2.405 7.881-6.686 10.017-3.974-.707-6.41-3.68-9.378-6-2.625-2.053-6.867-1.653-9.056-6.714 1.382-4.501-3.567-9.632-1.903-15.719zM667.331 329.557c-3.074-1.81-6.112-2.316-8.105-5.756l4.255-2.576c-4.121-1.274-7.483 2.6-11.114-.152 1.992-3.514 6.311-3.474 8.99-5.843.289-2.121-.98-2.12-2.591-2.633-2.648-.843-3.161 3.3-5.7 1.887-.981-.9-1.425-2.393-.339-3.019 5.881-3.389 10.691-8.113 15.853-12.384 3.064-2.533 4.066-3.217 8.908-4.109-.367 1.874-2.166 2.551-3.2 3.974 2.428 2.65 4.469.4 6.628-.541.318 3.754 3.355 6.88 1.884 12.023-5.713 4.723-8.795 13.052-15.469 19.129z'/%3E%3C/svg%3E%0A");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    padding: 4rem 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @mixin bp md {
      padding: 8rem 4rem 0;
    }
  }

  a {
    color: inherit;
  }

  &__contact {
    p {
      opacity: 0.75;
      margin-bottom: 0.9rem;
      letter-spacing: 0.05em;
      font-size: rem(16px);
    }

    ul {
      justify-content: center;

      li + li {
        margin-left: 1rem;
      }
    }

    [aria-label] {
      display: flex;
      width: rem(36px);
      height: rem(36px);
      border-radius: 50%;
      background: transparent;
      align-items: center;
      justify-content: center;
      transition: all 200ms ease;

      svg {
        width: rem(26px);
        height: rem(26px);
        fill: #fff;
        transition: all 200ms ease;
      }

      &:hover {
        background: #fff;

        svg {
          fill: var(--color-primary);
        }
      }
    }
  }

  &__nav {
    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @mixin bp as {
        margin-bottom: -1.5rem;

        li {
          flex-basis: 33.333%;
          max-width: 33.333%;
          margin-bottom: 1.5rem;
        }
      }
    }

    a {
      padding: 0.2em 0.2em;
      letter-spacing: 0.04em;
      border-bottom: 2px solid transparent;
      line-height: 1.1;

      &:hover {
        border-bottom-color: currentColor;
      }
    }
  }

  &__logo {
    font-size: 12vw;
    line-height: 1;
    margin-bottom: -0.325em;
    display: block;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: var(--font-family-display);
    font-weight: bold;
    letter-spacing: -0.07em;
  }
}

.c-subscribe {
  max-width: rem(550px);

  &__heading {
    color: #fff;
    font-size: 2.4rem;
    font-family: var(--font-family-plain);
    font-weight: 500;
    letter-spacing: 0.014em;
    margin-bottom: 2.6rem;

    @mixin bp sm {
      font-size: 3.4rem;
    }
  }

  input[type="email"] {
    margin-right: 1rem;
    background: hsla(var(--color-primary-h), 55%, 61%, 1);
    border-color: transparent;
    color: hsla(var(--color-primary-h) 6, 100%, 97%, 1);

    &::-moz-placeholder {
      color: #fff;
    }

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &::-ms-input-placeholder {
      color: #fff;
    }

    &::placeholder {
      color: #fff;
      transition: all 550ms ease;
    }

    &:focus {
      background-color: hsl(var(--color-primary-h), 16%, 20%) !important;
      border-color: #fff !important;
      box-shadow: 0 0 0 3px hsl(var(--color-primary-h), 16%, 20%) !important;
    }

    &:hover {
      border-color: #fff !important;
      box-shadow: 0 0 0 3px hsla(var(--color-primary-h), 55%, 61%, 1);
      background: hsla(var(--color-primary-h), 55%, 61%, 1);

      &::-moz-placeholder {
        color: #fff;
      }

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &::-ms-input-placeholder {
        color: #fff;
      }

      &::placeholder {
        color: #fff;
        transition: all 550ms ease;
      }
    }
  }
}
