/**
 * Alignments.
 */

.u-align-end     { text-align:      end }

.u-align-start   { text-align: start    }

.u-align-center  { text-align:  center  }

.u-align-justify { text-align: justify  }

/**
 * Weights.
 */

.u-fw-600 { font-weight: 600 }

/**
 * Letter Spacing.
 */


.u-ls-p02 {
  letter-spacing: .02em;
}

.u-ls-n04 {
  letter-spacing: -.04em;
}

/**
 * Colors
 */

 .u-color-text-900 {
   color: var(--color-text-900)
 }